---
import "@fontsource/inter";

import { Counter, db, eq, sql } from "astro:db";

if (Astro.request.method === "POST") {
	// parse form data
	const formData = await Astro.request.formData();
	const increment = formData.get("increment");
	const decrement = formData.get("decrement");

	if (increment && typeof increment === "string") {
		await db
			.update(Counter)
			.set({ likes: sql`${Counter.likes} + 1` })
			.where(eq(Counter.name, "Joost Klein"));
	}
	if (decrement && typeof decrement === "string") {
		await db
			.update(Counter)
			.set({ likes: sql`${Counter.likes} - 1` })
			.where(eq(Counter.name, "Joost Klein"));
	}
}

// render the new list of comments on each request
const counter = await db.select().from(Counter);
const count = counter[0].likes.toLocaleString();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>I support Joost</title>
	</head>
	<body class="bg-primary text-white grid h-dvh place-content-center antialiased text-center">
		<h1 class="text-4xl font-bold">Bring Joost back</h1>
		<div class="flex flex-wrap justify-center gap-4 items-start mt-4">
			<form method="POST">
				<input type="hidden" name="increment" value="increment" />
				<button
					class="bg-white hover:bg-secondary flex transition-colors hover:text-white items-center gap-2 text-xl text-primary px-6 py-4 font-bold rounded-full"
					id="increment"><span>Yes</span><span>❤️</span></button
				>
			</form>
			<form method="POST">
				<input type="hidden" name="decrement" value="decrement" />
				<button
					class="bg-white flex hover:bg-secondary transition-colors hover:text-white items-center gap-2 text-xl text-primary px-6 py-4 font-bold rounded-full"
					id="decrement"><span>No</span><span>👎</span></button
				>
			</form>
		</div>
		<p class="text-xl mt-4">Counter: <span id="counter">{counter[0].likes}</span></p>
	</body>

	<style>
		body {
			font-family: "Inter", sans-serif;
		}
	</style>
</html>
